<!-- start custom head snippets -->

<!-- insert favicons. use https://realfavicongenerator.net/ -->
<link rel="icon" type="image/png" href={{ "/assets/img/favicon/favicon-96x96.png" | relative_url }} sizes="96x96" />
<link rel="icon" type="image/svg+xml" href={{ "/assets/img/favicon/favicon.svg" | relative_url }} />
<link rel="shortcut icon" href={{ "/assets/img/favicon/favicon.ico" | relative_url }} />
<link rel="apple-touch-icon" sizes="180x180" href={{ "/assets/img/favicon/apple-touch-icon.png" | relative_url }} />
<link rel="manifest" href={{ "/assets/img/favicon/site.webmanifest" | relative_url }} />


<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&family=Noto+Emoji:wght@300..700&family=Noto+Sans+JP:wght@100..900&display=swap" rel="stylesheet">
<!-- end custom head snippets -->
