{%- assign publication = include.publication -%}

{%- assign y = publication.year | plus: 0 -%}
{%- assign m = publication.month | plus: 0 -%}
{%- if m >= 4 -%}
{%- assign fy = y -%}
{%- else -%}
{%- assign fy = y | minus: 1 -%}
{%- endif -%}


<li class="fy{{ fy }}">
    {%- for author in publication.authors -%}
        {%- if forloop.first == false -%}
            {%- if forloop.last == false -%}
            ,
            {% else %}
            &
            {% endif %}
        {% endif %}
        {{ author }}
    {%- endfor -%}
    &nbsp;({{ publication.year }}.{{ publication.month }}).<br>
    <strong>{{ publication.title }}</strong>.<br>
    In
    <i>{{ publication.proceedings_title }}</i>
    {%- if publication.pages -%}
    , {{ publication.pages }}
    {%- endif -%}
    .
    {% if publication.links %}
    <br>[
    {%- for link in publication.links -%}
    <a href="{{ link.url }}" target="_blank">{{ link.label }}</a>{% if forloop.last == false %}, {% endif %}
    {%- endfor -%}
    ]
    {% endif %}
</li>