/* Copyright comment */
@import "minimal-mistakes/copyright";

/* Variables */
@import "minimal-mistakes/variables";

/* Mixins and functions */
@import "minimal-mistakes/vendor/breakpoint/breakpoint";
@include breakpoint-set("to ems", true);
@import "minimal-mistakes/vendor/magnific-popup/magnific-popup"; // Magnific Popup
@import "minimal-mistakes/vendor/susy/susy";
@import "minimal-mistakes/mixins";

/* Core CSS */
@import "minimal-mistakes/reset";
@import "minimal-mistakes/base";
@import "minimal-mistakes/forms";
@import "minimal-mistakes/tables";
@import "minimal-mistakes/animations";

/* Components */
@import "minimal-mistakes/buttons";
@import "minimal-mistakes/notices";
@import "minimal-mistakes/masthead";
@import "minimal-mistakes/navigation";
@import "minimal-mistakes/footer";
@import "minimal-mistakes/search";
@import "minimal-mistakes/syntax";

/* Utility classes */
@import "minimal-mistakes/utilities";

/* Layout specific */
@import "minimal-mistakes/page";
@import "minimal-mistakes/archive";
@import "minimal-mistakes/sidebar";
@import "minimal-mistakes/print";



// Theme overrides

.page__hero{
    &--overlay {
      padding: 2em 0em !important;
      margin-bottom: 20px !important;
      &.overlay_color_default {
        background-color: #1D64AE !important;
      }

      .page__title{
          font-size: $type-size-3 !important;
          margin-bottom: 0 !important;
      }

      .wrapper {
          align-content: center;

          .page__meta {
              margin-top: 0.5em !important;   
              margin-bottom: 0 !important;
          }
      }
    }

}


.page__content > h2:first-child {
    margin-top: 0 !important;
}

.alsc-banner {
  margin: 50px 0;
}


.page {
  @include breakpoint($large) {
    float: inline-end;
    width: 100%;
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: 100%;
    padding-inline-end: $right-sidebar-width;
  }

}

.archive {
  margin-top: 1em;
  margin-bottom: 2em;

  @include breakpoint($large) {
    float: inline-end;
    width: 100%;
    padding-inline-end: $right-sidebar-width-narrow;
  }

  @include breakpoint($x-large) {
    width: 100%;
    padding-inline-end: $right-sidebar-width;
  }
}

.pagination {
  float: none !important;
  margin-bottom: 2em !important;
}


.link-btn {
  display: inline-block;
  border-style: solid;
  border-width:1px;
  padding: 5px 10px;
  border-radius: 5px;
  border-color: darkgray;
  text-decoration: none;
  font-size: 0.9em;

  &:hover {
    background-color: $primary-color;
    color: white;
    text-decoration: none !important;
    cursor: pointer;
  }

}

.page__title {
    line-height: 1.2;
}

.page__content ul ul {
  padding-left: 1.4em;
}